<html>
<body style="background-color:powderblue;">
<br>
<h1 style="text-align:center"> Artists</h1>

<div>
<br>
<h3>Click an Artist for info</h3>
<% #iterate through the Artist array %>
<% #display that%>

<ol >
    <% @artists.each do |artist_element|%><br>
     <li><%= link_to artist_element.name, artist_element%></li><br>
    
    <%end%><br>


</ol>
</div>

</html>