<h1><%= @artist.name %></h1>
<h3>Title: <%= @artist.title %></h3>
<h3>Age: <%= @artist.age %></h3>

<h3>Instruments: </h3>
<ul>
  <% @artist.instruments.map do |instrument| %>
    <li> <%= instrument.name %> </li>
  <% end %>
</ul>