<p><strong>Name:</strong>
<%= @artist.name%></p>
<br>
<p><strong>Age:</strong>
<%= @artist.age%></p>
<br>
<p><strong>Title:</strong>
<%= @artist.title%></p>

<p><strong>Instruments</strong></p>
<ul>
<% @artist.instruments.uniq.each do |instrument| %>
    <li><%= instrument.name%></li>

<%end%>


</ul>
