<html>
<body style="background-color:#66FFCC;">
<br>
<h1 style="text-align:center"> Instruments</h1>

<div>
<br>
<h3>Instruments the Artists use</h3>
<% #iterate through the Artist array %>
<% #display that%>

<ol >
    <% @instruments.each do |instrument_element|%><br>
     <li><%= instrument_element.name%> - <%= instrument_element.name%> </li><br>
     
    
    <%end%><br>


</ol>
</div>

</html>